<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
    <div class="container">
        Visualize the correlation of bloom time and observations using Calflora's database. Type above to view another plant.
    </div>
</div>

<div class="container" style="width:100%">
    <div class="chart-container" style="position: relative; height:50vh; max-width:fit-content; margin:0 auto">
        <canvas id="radialHistogram" width="400" height="400"></canvas>
    </div>
</div>

<script th:inline="javascript">
    var ctx = document.getElementById('radialHistogram').getContext('2d');
    
    var observations = [[${observations}]];
    var blooms = [[${blooms}]];
    var taxon = [[${taxon}]];
    var crn = [[${crn}]];
    var title = taxon + " (crn: " + crn + ")";

    if (taxon) {
        $('#searchBox').attr('value', taxon);
        $('#searchBox').attr('placeholder', taxon);
    }

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], // Example labels, adjust as needed
            datasets: [{
                label: "Observations (n=[[${observationsTotal}]])",
                data: observations,
                backgroundColor: ['#606c38'], // Example colors
                hoverBackgroundColor: ['#bc6c25']
            },
            {
                label: "Bloom Period",
                data: blooms,
                backgroundColor: ['#dda15e'],
                hoverBackgroundColor: ['#bc6c25']
            }
        
        ]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: title,
                },
                legend: {
                    position: 'top',
                },
                tooltip: {
                    enabled: true,
                }
            }
        }
    });
</script>


</body>
</html>
